.error{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 46, 46);
    padding: 60px 10px;
    width:50%;
    color: white;
    margin-top: 10%;
    margin-left: 25%;
}